.title_centered {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px auto;
    font-family: monospace;
}

.title_container {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.title {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 600;
    letter-spacing: -2px;
    color: var(--menu-color);
    margin: 0;
}

@media (max-width: 960px) {
    .title {
        font-size: 2.3rem;
    }
}