#menu {
    height: 100%;
    position: fixed;
    background-color: var(--menu-color);
    width: 300px;
    transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateX(-100%);
    left: 60px;
    top: 0;
    z-index: 2;
}

#menu.expanded {
    transform: translateX(0%);
    left: 0;
}

#menu .menu-inner {
    width: 100%;
    height: 100%;
    position: relative;
}

#menu #blob {
    top: 0;
    z-index: -1;
    right: 60px;
    transform: translateX(100%);
    height: 100%;
    position: absolute;
}

#menu #blob-path {
    height: 100%;
    fill: var(--menu-color);
}

#menu .hamburger {
    right: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    z-index: 3;
    cursor: pointer;
}

#menu .hamburger .line {
    width: 100%;
    height: 4px;
    background-color: var(--background-color);
    position: absolute;
    pointer-events: none;
}

#menu .hamburger .line:nth-child(2) {
    top: 50%;
    margin-top: -2px;
}

#menu .hamburger .line:nth-child(3) {
    bottom: 0;
}

#menu ul {
    padding: 0;
    list-style: none;
    width: 80%;
    margin-left: 10%;
    position: absolute;
    top: 10px;
}

#menu ul li {
    color: var(--background-color);
    padding: 20px 0;
}

#menu ul li hr.styled {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    position: relative;
    left: -46px;
}

#menu ul li hr.styled:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

#menu ul li a {
    color: var(--background-color);
    text-decoration: none;
}

#menu ul li a.active {
    font-weight: bold;
}

#menu .linkedInLogo {
    position: absolute;
    bottom: 24px;
    width: 100%;
    text-align: center;
}

#menu .linkedInLogo img {
    width: 100px;
}

#menu blockquote {
    margin: 0 60px;
}
