:root {
  --background-color: #010714;
  --text-color: #fff;
  --menu-color: #FED057;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.alex-brush-regular {
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
}


.App {
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
  overflow: scroll;
}

.pageContainer {
  background-color: var(--background-color);
  height: 100vh;
  margin-left: 60px;
  max-width: 968px;
  text-align: center;
}

.pageContainer a {
  color: var(--menu-color);
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--text-color);
}
