.TarotGame {
    width: calc(100vw - 100px);
}

.welcome {
    background-image: url('../../public/Crystal-Ball.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 60px;
    height: 100vh;
    width: calc(100vw - 60px);
}

.readingContainer.grid {
    margin: 16px auto 32px;
    width: auto;
    max-width: 968px;
}

.gameName {
    margin: 0;
    position: absolute;
    left: calc(50% + 30px);
    transform: translateX(-50%);
}

.tarotHeading {
    font-size: 48px;
    margin: 12px;
    color: #717070;
}

.cardBackground.white {
    background-color: transparent;
    position: relative;
}

.card img {
    width: 100%;
    border-radius: 15px;
}

.cardName {
    color: #fff;
}

.cardDesc {
    text-align: justify;
}

.tryAgain {
    background-color: var(--menu-color);
    color: var(--background-color);
    min-width: 30px;
    min-height: 30px;
    position: relative;
    margin: 0 auto 60px;
    cursor: pointer;
    text-align: center;
    width: auto;
    display: inline-block;
    padding: 20px 30px;
    border-radius: 15px;
}
