.TarotGame {
    width: calc(100vw - 100px);
}

.welcome {
    background-image: url('../../public/Crystal-Ball.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 60px;
    height: 100vh;
    width: calc(100vw - 60px);
    cursor: pointer;
}

.readingContainer.grid {
    margin: 16px auto 32px;
    width: auto;
    max-width: 1024px;
}

.tarot-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
}

@media (max-width: 960px) {
    .tarot-container {
        flex-direction: column;
    }
}

.tarot-container .tarot-card {
    position: static;
}

.tarot-item {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
    color: white;
    font-size: 1.2em;
    flex-direction: column;
}

@media (max-width: 960px) {
    .tarot-item {
        width: auto;
        margin: 30px;
    }
}

.gameName {
    margin: 0;
    position: absolute;
    left: calc(50% + 30px);
    transform: translateX(-50%);
}

.tarotHeading {
    font-size: 48px;
    margin: 12px;
    color: #717070;
    width: 100%;
}

.cardBackground.white {
    background-color: transparent;
    position: relative;
}

.daliTarotCard {
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    z-index: 1;
    min-height: 40vh;
}

.daliTarotCard.flipped {
    transform: rotateY(180deg);
}

.daliTarotCard .daliTarotCardFront,
.daliTarotCard .daliTarotCardBack {
    position: absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.daliTarotCard .daliTarotCardFront {
    transform: rotateY(180deg) translateX(50%);
}

.daliTarotCard img {
    height: 100%;
    border-radius: 15px;
}

@media (max-width: 968px) {
    .daliTarotCard img {
        border-radius: 5px;
    }
}

.cardInfo {
    opacity: 0;
}

.cardInfo.flipped {
    opacity: 1;
}

.tarot-container .cardInfo {
    transform: translateY(calc(-100% - 36px));
    transition: transform 0.8s, opacity 0.8s;
    display: block;
}

@media (max-width: 968px) {
    .cardInfo {
        transform: none;
        transition: margin-top 0.8s, opacity 0.8s;
        margin-top: -160px;
    }
}

.tarot-container .cardInfo.flipped {
    transform: translateY(0);
    display: block;
}

@media (max-width: 968px) {
    .cardInfo.flipped {
        margin-top: 0;
    }
}

.cardName {
    color: #fff;
    margin-bottom: 16px;
}

.cardDesc {
    text-align: left;
}

@media (min-width: 969px) {
    .cardDesc {
        max-width: 25vw;
    }
}

@media (max-width: 968px) {
    .cardDesc {
        margin-right: 10px;
        margin-bottom: 20px;
    }
}

.cardLearnMore {
    cursor: pointer;
    /*position: absolute;*/
    bottom: -36px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 0;
    background-color: transparent;
    color: var(--menu-color);
    border: none;
    text-transform: uppercase;
    padding: 0;
}

@media (max-width: 968px) {
    .cardLearnMore {
        left: 50%;
        transform: translateX(-50%);
    }
}

.try-again, .show-all-cards {
    background-color: var(--menu-color);
    color: var(--background-color);
    min-width: 30px;
    min-height: 30px;
    position: relative;
    margin: 60px auto;
    cursor: pointer;
    text-align: center;
    width: auto;
    display: inline-block;
    padding: 20px 30px;
    border-radius: 15px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s;
    text-decoration: none;
}

.show-all-cards.visible,
.try-again.visible {
    opacity: 1;
    pointer-events: all;
}

.show-all-cards {
    margin-right: 20px;
}


/*#modal*/
.mymodal {
    position: absolute;
    top: 2%;
    left: 16%;
    right: 16%;
    bottom: 2%;
    border: 1px solid var(--menu-color);
    background: var(--background-color);
    overflow: auto;
    --webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    box-shadow: var(--menu-color) 0 0 0 8px
}

@media (max-width: 968px) {
    .mymodal {
        left: 2%;
        right: 2%;
    }
}

.myoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
}

.modal-content {
    display: flex;
}

@media (max-width: 968px) {
    .modal-content {
        flex-direction: column;
    }
}

.graphic-content {
    width: 50%;
}

@media (max-width: 968px) {
    .graphic-content {
        margin: 0 auto;
    }
}

.graphic-content img {
    border-radius: 15px;
}


.text-content {
    width: 50%;
    padding: 0 24px 24px 24px;
}

@media (max-width: 968px) {
    .text-content {
        padding-top: 24px;
        width: 100%;
    }

    .text-content b {
        color: var(--menu-color)
    }
}

.text-content h2 {
    margin-top: 0;
}

.text-content p {
    /*color: var(--background-color);*/
    margin-bottom: 16px;
}

.close-icon {
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
    color: white;
}